.sidebar .sidebar-item {
  .item {
    color: hsla(0, 0%, 100%, 0.6);
    @media screen and (max-width: 767px) {
      color: hsla(0, 0%, 0%, 0.6);
    }
    transition: all 350ms ease;
    text-transform: capitalize;
    font-size: 18px;
    padding: 8px 20px;
    margin: 10px 0;
    &::before {
      content: "";
      display: block;
      height: 1px;
      width: 0px;
      background-color: white;
      transition: all 350ms ease;
    }
  }
  .item.active {
    color: white;
    @media screen and (max-width: 767px) {
      color: black;
    }
    font-weight: bold;
    letter-spacing: 2px;
    @media screen and (min-width: 767px) {
      &::before {
        content: "";
        display: block;
        height: 1px;
        width: 42px;
        background-color: white;
        margin-right: 12px;
      }
    }
  }
}
